* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div.profile-img {
  display: inline-block;
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  height: 100%;
  width: 100%;
}

$bar-color: rgb(241, 199, 120);
$otherElem-color: rgb(200, 104, 221);

body {
  height: 100vh;
  width: 100vw;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #000;
  overflow: hidden;
}

// HEADER ***********************************************
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: $bar-color;
  align-items: center;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }

  button#settings-btn {
    position: absolute;
    top: 50%;
    right: 0.5%;
    transform: translate(-50%, -50%);
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: 70%;
    border-radius: 50%;
    border-width: 0;
    background-color: $otherElem-color;
    overflow: hidden;

    &:hover {
      background-color: #777;
      cursor: pointer;
    }

    &:active {
      background-color: red;
    }

    i {
      font-size: 38px;
      color: #fff;
    }
  }
}

// MAIN ***********************************************
main {
  position: relative;
  height: 85vh;
  width: 100vw;
  overflow: hidden;

  menu {
    display: block;
    position: absolute;
    top: 0;
    right: -15vw;
    height: 40vh;
    width: 15vw;
    border: 2px solid #000;
    background-color: #ade;
    transition: all 0.75s ease;

    &.active {
      right: 0;
    }

    li.option {
      display: block;
      height: 15%;
      width: 100%;
      padding: 5%;
      border-bottom: 1px solid #000;
      text-align: center;
      font-size: 20px;

      &:hover {
        background-color: #bef;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }

  section#friends-list {
    display: inline-block;
    width: 30%;
    height: 100%;
    padding: 1.5vw;
    background-color: $otherElem-color;
    overflow-y: scroll;

    div.friend {
      position: relative;
      height: 15%;
      width: 100%;
      border: 1px solid #000;
      border-radius: 10px;
      margin-bottom: 1vh;
      overflow: hidden;

      &:hover {
        background-color: lightblue;
        cursor: pointer;
      }

      span.friend-text {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translate(0, -50%);
        display: inline-block;
        height: 85%;
        width: 75%;
        padding: 3% 3%;
        margin-right: 2%;
        overflow: hidden;

        p {
          height: 20px;
        }

        p.nickname {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 1.7%;
        }
      }

      div.profile-img {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(0, -50%);
        display: inline-block;
        height: 90%;
      }
    }
  }

  section#chat-window {
    position: relative;
    display: inline-block;
    position: absolute;
    top: 0px;
    //   right: 0px;
    width: 50%;
    height: 90%;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 3% 15% 3% 3vw;
    overflow: hidden;

    div#chat-header {
      position: absolute;
      top: 0;
      left: 0;
      height: 12%;
      width: 100%;
      padding: 0.3%;
      background-color: #ddd;

      div.profile-img {
        height: 95%;
      }

      p.nickname {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        display: inline-block;
        height: 50%;
        margin-left: 2%;
        font-size: 25px;
        font-weight: 700;
      }

      div.status {
        position: absolute;
        top: 55%;
        // transform: translate(0, -50%);
        display: none;
        height: 50%;
        width: 50%;
        margin-left: 2%;
        font-size: 18px;
        font-weight: 400;

        &.active {
          display: inline-block;
        }

        div.status-dot {
          display: inline-block;
          aspect-ratio: 1 / 1;
          height: 38%;
          border-radius: 50%;
        }

        &.online div.status-dot {
          background-color: green;
        }

        &.offline div.status-dot {
          background-color: red;
        }

        p.status-txt {
          display: inline-block;
          height: 40%;
          width: 50%;
        }
      }
    }

    div#chat {
      position: absolute;
      top: 12%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: safe end; // safe enables scrolling
      height: 74%;
      width: 100%;
      padding: 2%;
      overflow-y: scroll;

      div.message {
        min-height: 8%;
        width: fit-content;
        max-width: 90%;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 0.5% 1%;
        margin: 1%;
        overflow: hidden;

        &.user-mess {
          margin-left: 15%;
          background-color: rgb(108, 141, 240);
          align-self: end;
        }

        &.friend-mess {
          margin-right: 15%;
          background-color: #ccc;
          align-self: normal;
        }

        p {
          height: 100%;
          width: 100%;
          word-wrap: break-word;
        }
      }
    }

    div#write-area {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 12%;
      width: 100%;
      border: 1px solid #000;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;

      textarea#write-mess {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        height: 90%;
        width: 90%;
        padding: 1.75%;
        border-radius: 15px;
        margin: 0 0.75%;
        background-color: #eee;
        font-family: "Lato", "Helvetica", "Arial", sans-serif;
        font-size: 14px;

        &:hover {
          cursor: text;
        }
      }

      button#sendBtn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        aspect-ratio: 1 / 1;
        height: 76%;
        border: 2px solid black;
        border-radius: 50%;
        margin-right: 1%;

        &:hover {
          cursor: pointer;
        }

        &:active {
          border-color: royalblue;
          background-color: #ccc;
        }

        i {
          font-size: 25px;
        }
      }
    }
  }
}

// FOOTER ***********************************************
footer {
  position: relative;
  height: 7vh;
  background-color: $bar-color;
  overflow: hidden;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
  }
}

// ADD FRIEND ***********************************************
section#add-friend {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 25vw;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;

  &.active {
    display: block;
  }

  div.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 16%;
    width: 100%;
    border-bottom: 2px solid #000;
    background-color: $bar-color;

    p {
      height: 100%;
      margin: 1%;
      text-align: center;
      // color: #fff;
      font-size: 22px;
      font-weight: 700;
      // background-color: black;
    }

    button {
      position: absolute;
      top: 0%;
      right: 0%;
      aspect-ratio: 1 / 1;
      height: 95%;
      border: 1 solid black;
      border-radius: 5px;
      background-color: transparent;
      // color: #fff;
      font-size: 30px;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  input {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    height: 25%;
    width: 100%;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 30px;

    &:focus {
      outline: none;
    }
  }

  button#send-invit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 7vh;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: $otherElem-color;
    color: #fff;
    font-size: 20px;
  }
}

// TERMINAL ***********************************************
section#terminal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  border: 2px solid gray;
  background-color: #000;
  font-family: monospace;

  &.active {
    display: block;
  }

  div.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: gray;

    p {
      height: 100%;
      padding: 1px 2px;
      color: #fff;
      font-size: 14px;
    }

    button {
      position: absolute;
      height: 95%;
      width: 2.5%;
      border: 1 solid black;
      background-color: transparent;
      color: #fff;

      &#terminal-clear {
        top: 0;
        right: 2.5%;
      }

      &#terminal-exit {
        top: 0;
        right: 0;
      }
    }
  }

  div.log-area {
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 91%;
    width: 95%;
    // border: 1px solid #fff;

    p.log,
    p.empty-log {
      position: relative;
      height: 5%;
      color: #fff;
      font-size: 100%;
    }

    #I-beam {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: 80%;
      width: 1.5px;
      margin-left: 1%;
      background-color: #fff;
      animation-name: I-beam;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }

    @keyframes I-beam {
      0% {
        height: 80%;
      }
      50% {
        height: 0%;
      }
      100% {
        height: 80%;
      }
    }
  }
}
